<!DOCTYPE html>
{% load staticfiles %}
<html lang="fr">

    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta charset="utf-8" />
        <title>PolDrone</title>
    </head>
    <body>
        <header>
        <table style="width: 100%">
            <tr>
            <td><a href="{% url 'home' %}"><img src="{% static "images/logo.jpg" %}" alt="logo" width="100" height="50"/></a></td>
            <td><h4><a style="color: rgb(255,255,255)" href="{% url 'add_project' %}">Ajouter un projet</a></h4>
            <h4><a style="color: rgb(255,255,255)" href="{% url 'add_flight' %}">Ajouter un vol</a></h4></td>
            <td style="width: 50%"><h4 class="about"><a style="color: rgb(255,255,255)" href="{% url 'about' %}">About</a></h4></td>
            </tr>
        </table>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>
       
