{% extends 'base.html' %}
{% block content %}
    <div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: {lat:{{data.center.lat|safe }}, lng:{{ data.center.lon|safe }}},
          mapTypeId: 'satellite'
        });

        var heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });
      }

      function getPoints() {
        return [{% for point in data.points %}
            {location: new google.maps.LatLng({{ point.lat|safe }}, {{ point.lon|safe }}), weight: {{ point.c02|safe }}},{% endfor %}
        ];
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0Rmm8vlCOfRDWz5x1jH1gUlto3qNvhjI&libraries=visualization&callback=initMap">
    </script>
{% endblock %}
