{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="add_flight">
        <a href="{% url 'add_flight' %}" class="flight"><img src="{% static "images/add_flight.jpg" %}" alt="logo" width="100" height="40"/></a>
    </div>
        
        
    {% for processingnode in processingnodes %}
    <table class="back">
        <tr><td colspan="2"><h2 class="center">{{ processingnode.name }}</h2></td></tr>
        <tr><td colspan="2"><h4>{{ processingnode.time }}</h4></td></tr>
        <tr><td colspan="2" class="center">{{ processingnode.description }}</td></tr>
        <tr>
            <td><a href="/delete/{{processingnode.id}}"><img src="{% static "images/delete.png" %}" alt="delete" width="20" height="20"/></a></td>
            <td><a href="/maps/{{processingnode.id}}"><img src="{% static "images/maps.jpg" %}" alt="maps" width="25" height="20"/></a></td>
        </tr>
    </table>
    {% endfor %}
{% endblock %}
        
