header{
    background-color: rgb(0,110,255);
}

.add{
    margin-left: auto;
    margin-right: 4em;
    margin-top: 3em;
    margin-bottom: 2em;
    width: 6em;
}

.center{
    text-align: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}

.flight{
    font-size: 40px; 
}

.back{
    background-color: #E4E2E0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}

.line{
    width: 250px;
    height: 1px;
    background: #a0a0a0;
}

#map {
    height: 100%;
}

html, body {
    height: 100%;    
}
